* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 67, 160);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 75px;
  color: white;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  text-align: center;
  color: white;
}

li {
  color: white;
  list-style-position: outside;
}

.testClass {
  color: rgb(8, 7, 7);
}

#testForm {
  margin-top: 30px;
  background-color: antiquewhite;
  border: 10px solid rgb(27, 24, 179);
}

#jupiter {
  border: 10px solid white;
}
